#loader-box{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.35);}
#loader-box img{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
.inline-box{display:inline-block;*display:inline;*zoom:1;vertical-align:top;padding:0 10px;}
.inline-box:first-child{padding-left:0;}
.inline-box:last-child{padding-right:0;}
.add-box.show .add-link{display:none;}
.add-box .add-form{display:none;margin-top:5px;}
.add-box.show .add-form{display:block;}
.add-box .add-form .add-form-btn{display:block;}
.add-box .add-form .add-form-btn a{text-decoration:none;}
.add-box .add-form a.add-close{margin-left:10px;}

select[name='param-name']{min-width:100px;}
select[name='param-value']{min-width:100px;}

#ifp-post-add{margin-bottom:5px;}
#ifp-post-add a{line-height:24px;text-decoration:none;color:#666;}
.ifp-post-template{display:none;}
.ifp-post a{-webkit-box-shadow:none;box-shadow:none}
.ifp-post .ifp-post-name{margin-bottom:5px;background:#f6f6f6;padding:2px 10px;}
.ifp-post .ifp-post-name span{display:inline-block;*display:inline;*zoom:1;padding:4px;border:1px solid transparent;white-space:nowrap;overflow:hidden;}
.ifp-post [contenteditable="true"] br{display:none;}
.ifp-post .ifp-post-name span.edited{background:#fff;border:1px solid #ccc;}
.ifp-post .ifp-post-name-tools{float:right;padding-top:1px;}
.ifp-post .ifp-post-name-tools a{margin-left:20px;text-decoration:none;color:#666;}
.ifp-post .ifp-post-name-tools a svg{margin-right:5px;opacity:0.5;}
.ifp-post .ifp-post-name-tools a:hover svg,.ifp-post.show .ifp-post-name-tools a svg{opacity:1;}
.ifp-post .ifp-post-name-tools a.add-img{display:none;}
.ifp-post.show .ifp-post-name-tools a.add-img{display:inline-block;*display:inline;*zoom:1;}
.ifp-post .ifp-post-box{display:none;padding:10px;border:1px solid #eee;}
.ifp-post.show .ifp-post-box{display:block;margin-bottom:5px;}
.ifp-post .ifp-post-box .ifp-post-img{padding:5px 5px 5px 30px;border:1px solid transparent;position:relative;}
.ifp-post .ifp-post-box .ifp-post-img:hover{background:#f9f9f9;border:1px solid #f0f0f0;}
.ifp-post .ifp-post-box .ifp-post-img:after{content:'';display:block;clear:both;}
.ifp-post .ifp-post-box .ifp-post-img .ifp-post-move{width:20px;position:absolute;left:5px;top:5px;bottom:5px;background:#efefef;cursor:move;}
.ifp-post .ifp-post-box .ifp-post-img .ifp-post-move:before{content:'↔';font-size:22px;color:#999;position:absolute;left:0;top:50%;margin-top:-5px;}
.ifp-post .ifp-post-box .ifp-post-img .ifp-post-move:after{content:'↕';font-size:18px;color:#999;position:absolute;left:5px;top:50%;margin-top:-5px;}
.ifp-post .ifp-post-box .ifp-post-img a.ifp-post-img-del{position:absolute;right:10px;top:10px;}
.ifp-post .ifp-post-box .ifp-post-img img{float:left;margin-right:20px;}
.ifp-post .ifp-post-box .ifp-post-img .ifp-post-img-description{height:150px;width:300px;float:left;margin-right:20px;}
.ifp-post .ifp-post-box .ifp-post-img .ifp-post-img-description textarea{width:100%;height:100%;}
.ifp-post .ifp-post-box .ifp-post-img .ifp-post-img-price{margin-bottom:8px;}
.ifp-post .ifp-post-box .ifp-post-img-param a{margin-left:10px;}
.ifp-post .ifp-post-box .ifp-post-img-param a svg{vertical-align:top;}
.ifp-post .ifp-post-box .ifp-post-img-add-param{margin-bottom:8px;}
.ifp-post .ifp-post-box .ifp-post-img-add-param > a{color:#666;text-decoration:none;}
.ifp-post .ifp-post-box .ifp-post-img-add-param div{margin:5px 0;}
.ifp-post .ifp-post-box .ifp-post-img-add-param div select{margin-right:5px;}
.ifp-post .ifp-post-box .ifp-post-img-add-param div a{margin-left:5px;}