.ifp-wrapper *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.ifp-wrapper:after{
	content:'';
	display:block;
	clear:both;
}

.ifp-wrapper .ifp-img{
	float:left;
	width:60%;
}

.ifp-wrapper[data-type="medium"] .ifp-img,
.ifp-wrapper[data-type="small"] .ifp-img{
	float:none;
	width:100%;
	overflow:hidden;
}

.ifp-wrapper .ifp-img-box.main{
	width:70%;
	height:0;
	padding-bottom:70%;
	/*float:left;*/
	overflow:hidden;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	margin-left:0;
}

.ifp-wrapper[data-type="small"] .ifp-img-box.main{
	width:100%;
	padding-bottom:100%;
	margin-bottom:4px;
}

.ifp-wrapper .ifp-img-box-items{
	width:29%;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	overflow:hidden;
}

.ifp-wrapper[data-type="small"] .ifp-img-box-items{
	width:100%;
}

.ifp-wrapper .ifp-img-box-items > div{
	overflow-y:scroll;
	width:109%;
}

.ifp-wrapper[data-type="small"] .ifp-img-box-items > div{
	width:auto;
	overflow-y:auto;
	white-space:nowrap;
}

.ifp-wrapper .ifp-img-box{
	position:relative;
	width:30%;
	height:0;
	padding-bottom:30%;
	margin-left:3%;
	margin-bottom:3%;
	overflow:hidden;
	background:#f9f9f9;
	float:left;
	display:none;
}

.ifp-wrapper[data-type="small"] .ifp-img-box.show:not(.main){
	display:inline-block !important;
	*display:inline;
	*zoom:1;
	float:none;
	width:24%;
	margin:1% 1% 0 0;
	padding-bottom:24%;
}

.ifp-wrapper .ifp-img-box.show{
	display:block;
}

.ifp-wrapper .ifp-img-box a{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
}

.ifp-wrapper .ifp-img-box.active a{
	border:2px solid #5a5a5a;
}

.ifp-wrapper .ifp-img-box img{
	/*max-width:100%;
	width:100%;
	height:auto;*/
	max-width:100%;
	max-height:100%;
	min-width:100%;
	min-height:100%;
	object-fit:cover;
}

.ifp-wrapper .ifp-img-box span{
	display:none;
}

.ifp-wrapper .ifp-img-box.main span{
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	color:#fff;
	background:rgba(0,0,0,0.5);
	padding:4px 10px;
}

.ifp-wrapper .ifp-param{
	float:right;
	width:40%;
	padding:10px 10px 10px 20px;
}

.ifp-wrapper[data-type="medium"] .ifp-param,
.ifp-wrapper[data-type="small"] .ifp-param{
	float:none;
	width:100%;
	margin-top:10px;
}

.ifp-wrapper .ifp-img-buy{
	float:right;
}

.ifp-wrapper .ifp-img-buy a{
	padding:8px 28px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background:#5a5a5a;
	font-size:15px;
	color:#f0f0f0;
	text-decoration:none;
}

.ifp-wrapper .ifp-img-description{
	margin-bottom:10px;
	font-size:17px;
	font-weight:600;
}

.ifp-wrapper .ifp-img-price{
	font-weight:700;
	font-size:15px;
	margin-bottom:10px;
}

.ifp-wrapper .ifp-param-box{
	margin-bottom:10px;
	margin-left:20px;
}

.ifp-wrapper .ifp-param-box span{
	cursor:pointer;
	margin-left:4px;
	padding:2px;
	border:1px solid transparent;
}

.ifp-wrapper .ifp-param-box span:hover{
	border:1px solid #f0f0f0;
}

.ifp-wrapper .ifp-param-box span.selected{
	opacity:1;
	color:#f00;
}

.ifp-wrapper .ifp-param-box span.unselected{
	opacity:0.5;
}

#ifp-img-preview{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	z-index:1000;
	padding:0 40px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:table;
	text-align:center;
}

#ifp-img-preview .ifp-img-photo{
	/*position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);*/
	padding:10px;
	display:table-cell;
	vertical-align:middle;
}

#ifp-img-preview .ifp-img-photo img{
	max-width:100%;
	max-height:94vh;
	margin-left:auto;
	margin-right:auto;
	border:5px solid #f0f0f0;
}

#ifp-img-preview .ifp-img-photo span.description{
	background:rgba(0,0,0,0.9);
	padding:10px;
	line-height:20px;
	display:block;
	margin:0 auto;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	color:#fff;
}

#ifp-img-preview span.close{
	width:20px;
	height:20px;
	position:absolute;
	top:10px;
	right:10px;
	font-size:18px;
	color:#fff;
	opacity:0.5;
	z-index:1001;
	cursor:pointer;
}

#ifp-img-preview span.close:hover{
	opacity:1;
}

#ifp-img-preview span.close:before{
	content:'';
	display:block;
	width:20px;
	height:2px;
	background:#fff;
	position:absolute;
	left:0;
	top:9px;
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

#ifp-img-preview span.close:after{
	content:'';
	display:block;
	width:20px;
	height:2px;
	background:#fff;
	position:absolute;
	left:0;
	top:9px;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

#ifp-img-preview .prev,
#ifp-img-preview .next{
	width:50%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	cursor:pointer;
}

#ifp-img-preview .next{
	left:auto;
	right:0;
}

#ifp-img-preview .prev span,
#ifp-img-preview .next span{
	position:absolute;
	top:50%;
	margin-top:-10px;
	width:0;
	height:0;
	display:none;
	opacity:0.7;
}

#ifp-img-preview .prev:hover span,
#ifp-img-preview .next:hover span{
	display:block;
	cursor:pointer;
}

#ifp-img-preview .prev span{
	left:10px;
	border-right: 10px solid #fff;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}

#ifp-img-preview .next span{
	right:10px;
	border-left: 10px solid #fff;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
}

/*Overlay*/
.overlay{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.35);
	z-index:1001;
	display:none;
}

.overlay.show{
	display:-webkit-flex !important;
	display:-moz-flex !important;
	display:-ms-flex !important;
	display:-o-flex !important;
	display:flex !important;
	justify-content:center;
	-ms-align-items:center;
	align-items:center;
}

.overlay-box{
	background:#fff;
	padding:20px;
	position:relative;
	-webkit-box-shadow:0 4px 8px 0 #000;
	box-shadow:0 4px 8px 0 #000;
}

.overlay-close{
	position:absolute;
	right:-20px;
	top:-30px;
	line-height:36px;
	font-size:36px;
	color:#fff;
	cursor:pointer;
}

.ifp-form{

}

.ifp-form .overlay-box{
	width:320px;
}

.ifp-form form .overlay-box-img{
	margin-bottom:10px;
}

.ifp-form form input[type=text]{
	width:100%;
	height:30px;
	padding:0 12px;
	background:#f0f0f0;
	border:1px solid #e0e0e0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	margin-bottom:12px;
}

.ifp-form form input[type=text].error{
	border-color:#ff5151;
	-webkit-box-shadow:inset 0 0 10px 1px rgba(255,81,81,0.35);
	box-shadow:inset 0 0 10px 1px rgba(255,81,81,0.35);
}

.ifp-form form input[type=text]:focus{
	border-color:#a9a6a6;
	-webkit-box-shadow:inset 0 0 10px 1px rgba(0,0,0,0.1);
	box-shadow:inset 0 0 10px 1px rgba(0,0,0,0.1);
}

.ifp-form form input[type=button]{
	width:100%;
	height:36px;
	padding:0 12px;
	background:#5a5a5a;
	border:none;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#fff;
	text-align:center;
}

.ifp-form form input[type=button]:hover{
	background:#404040;
}

.ifp-information{
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	justify-content:space-between;
}

.ifp-information div{
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	justify-content:center;
	-ms-align-items:center;
	align-items:center;
	width:18%;
	text-align:center;
	padding:10px;
	background:rgba(0,0,0,0.5);
	color:#f0f0f0;
}

@media screen and (max-width:480px){
	.ifp-information{
		-webkit-flex-direction:column;
		-moz-flex-direction:column;
		-ms-flex-direction:column;
		-o-flex-direction:column;
		flex-direction:column;
	}
	.ifp-information div{
		width:100%;
		justify-content:flex-start;
		background-color:transparent;
		color:#444;
		padding-left:50px;
		position:relative;
	}
	.ifp-information div:before{
		content:'';
		display:block;
		width:45px;
		height:20px;
		background:rgba(0,0,0,0.2);
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
		border-radius:8px;
		position:absolute;
		left:0;
		top:11px;
	}
}

@media screen and (max-width: 380px){
	.overlay-close{
		top:-40px;
		right:10px;
	}
}